[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
mockify = "*"
invoke = "*"
pytest-cov = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
tox = "*"
autoflake = "*"
isort = "*"
yapf = "*"
pylint = "*"

[requires]
